<li>
    <%= gravatar_for user, size:50 %>
    <%= link_to user.name, user %>
    <!-- !current_user?(user)は管理者以外がログインしない為の条件
    link_toの第２引数はそれぞれのユーザーのdestroyアクションを実行するためのリンク -->
    <% if current_user.admin? && !current_user?(user) %>
        |<%= link_to "delete", user, method: :delete,
                date: {confirm: "Yes sure?"} %>
    <% end %>
</li>